









<mat-card>
    <mat-card-header>
        <mat-card-title>Register</mat-card-title>
    </mat-card-header>

    <form [formGroup] = "registerForm" (ngSubmit) ="submit()">
        <mat-card-content>
            <mat-form-field>
                <mat-label>Firstname</mat-label>
                <input matInput class="firstname" id ="firstname" formControlName ="firstname" placeholder="enter firstname">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Lastname</mat-label>
                <input matInput class="" id="lastname" formControlName ="lastname" placeholder="enter Lastname">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput class="" id="email" formControlName ="email" placeholder="enter Email address">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Phone-number</mat-label>
                <input matInput class="" id="phonenumber" formControlName ="phonenumber" placeholder="enter Phone-number">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Password</mat-label>
                <input matInput class="" id="password" formControlName = "password" placeholder="enter Password">
            </mat-form-field>
    
            <button mat-raised-button color="primary" type="submit" [disabled]="!registerForm.valid">Register</button>
        </mat-card-content>
    </form>
    
</mat-card>